<h1 [ngStyle]="stylePageTitle" [ngClass]="classPageTitle">
    {{ mainThemeColor }} Products List
</h1>
<div [ngStyle]="stylePageTitle" class="container">
  <input [(ngModel)]="mainThemeColor" id="search" />
</div>
<div
  class="container d-flex justify-content-between flex-wrap p-3 align-content-xl-around"
>
  <!-- @if(pruductArr.length>0) { @for(product of pruductArr; track product.id){ -->
<div  *ngFor="let product of pruductArr" >
  <div class="card mb-3" style="width: 18rem" *ngIf="isLogin">
    <img class="card-img-top" [src]="product.imgPath" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ product.Name }}</h5>
      <div [ngSwitch]="product.color">
        <p *ngSwitchCase="'Red'">Red</p>
        <p *ngSwitchCase="'Blue'">Blue</p>
        <p *ngSwitchDefault="'Black'">Black</p>
      </div>
      <p class="card-text">
        {{ product.detail }}
      </p>
    
      
      <p class="card-text">
       Price: {{ product.Price }}
      </p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>
  <!-- }} -->
</div>
