<h1 [ngStyle]="stylePageTitle" [ngClass]="classPageTitle">
  Products List {{ todayDAte | date }}
</h1>
<!-- {{personWeight|number}} -->
<div [ngStyle]="stylePageTitle" class="container">
  <!-- <input [(ngModel)]="mainThemeColor" id="search" /> -->
</div>
<div
  class="container d-flex justify-content-between flex-wrap p-3 align-content-xl-around"
>
  <div *ngFor="let product of pruductArr">
  
    <div class="card mb-3" style="width: 18rem" *ngIf="isLogin">
      <img class="card-img-top" [src]="product.imgPath" alt="Card image cap" />
      <div class="card-body">
        <a routerLink="/product/{{product.id}}"> <h5 class="card-title">{{ product.Name }}</h5></a> 
        <div [ngSwitch]="product.color">
          <p *ngSwitchCase="'Red'">Red</p>
          <p *ngSwitchCase="'Blue'">Blue</p>
          <p *ngSwitchDefault="'Black'">Black</p>
        </div>
        <p class="card-text">
          {{ product.detail }}
        </p>

        <p class="card-text">Price: {{ product.Price }}</p>
        <button class="btn btn-primary" (click)=" addCartItem(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
